body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

form {
  background: white;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.card {
  background: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}
